body {
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial,
    sans-serif;
  background-color: #eeeeee;
}

.row {
  display: flex;
  justify-content: space-evenly;
  gap: clamp(0.5em, 3vw, 2.5em);
  margin-bottom: clamp(0.5em, 3vw, 2.5em);
}

.photo-frame {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: clamp(0.35em, 1vw, 1.5em);
  border: clamp(2px, 0.85vw, 10px) solid #323232;
  border-radius: 3px;
  background-color: white;
  box-shadow: -1px 1px 12px 5px rgba(177, 167, 167, 0.75);
}

img {
  width: 100%;
  margin: auto;
}

p {
  font-size: clamp(8px, 1.5vw, 22px);
  font-style: italic;
  margin-top: 2em;
  margin-bottom: 0.5em;
  color: #a9a9a9;
}